<%= form_with model: case_note do |f| %>
  <% if case_note.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% case_note.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :body, "症例メモ" %><br>
    <%= f.text_area :body, rows: 8 %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
