<% if flash[:notice] %>
  <div><%= flash[:notice] %></div>
<% end %>

<% if flash[:alert] %>
  <div><%= flash[:alert] %></div>
<% end %>

<h1>漢方編集（Admin）</h1>

<p>
  <%= link_to "一覧に戻る", admin_kampos_path %>
</p>

<%= form_with model: [:admin, @kampo], local: true do |f| %>
  <% if @kampo.errors.any? %>
    <div>
      <h2><%= @kampo.errors.count %>件のエラーがあります</h2>
      <ul>
        <% @kampo.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name, "漢方名" %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :kana_name, "かな" %><br>
    <%= f.text_field :kana_name %>
  </div>

  <div>
    <%= f.label :note, "note（概要・適応など）" %><br>
    <%= f.text_area :note, rows: 6, placeholder: "例：虚証で冷え性・貧血傾向のある患者に用いる" %>
  </div>

  <div>
    <%= f.label :detail, "detail（禁忌・併用注意）" %><br>
    <%= f.text_area :detail,
          rows: 12,
          placeholder: <<~TEXT
          【禁忌】
          ・

          【併用注意】
          ・
          TEXT
    %>
    <p class="form-help">
      ※ 禁忌・併用注意はこの形式で記載してください
    </p>
  </div>


  <div>
    <%= f.submit "更新する" %>
  </div>
<% end %>
